* {
    -webkit-appearance: none;
    outline: none !important;
}

html, body, #root, .main-layout-container {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

body {
    background-color: rgb(20,22,41);
    color: #fff;
    font-size: 12px;
}

.container-fluid {
    padding: 0;
}

.sidebar {
    height: 100%;
    background-color: rgb(29,32,51);
}

.sidebar .title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.sidebar ul {
    border-right: 1px solid rgba(0,0,0,0.3);
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    clear: both;
    overflow: hidden;
    padding: 12px 10px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    color: rgba(255,255,255,0.5);
}

.sidebar ul li.extra-height {
    padding: 20px 10px;
}

.sidebar ul li .icon {
    background-color: rgba(70,74,87, 1);
    width: 28px;
    height: 28px;
    line-height: 12px;
    float: left;
    text-align: center;
    overflow: hidden;
    padding: 7px;
    border-radius: 4px;
    margin-right: 10px;
}

.sidebar ul li .text {
    float: left;
    line-height: 28px;
}

.sidebar ul li:hover,
.sidebar ul .active li {
    background-color: rgba(63,66,87,1);
    color: rgba(255,255,255,1);
    cursor: pointer;
}

.sidebar ul li:hover .icon,
.sidebar ul .active li .icon {
    border: 1px solid #fff;
}

.top-connect-bar {
    height: 67px; 
    padding: 7px;
    background-color: rgb(40,42,60);
}

.top-connect-bar input {
    width: 100%;
    background-color: rgb(20,22,41);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 3px;
    height: 100%;
    color: #fff;
    padding: 15px;
}

.top-connect-bar button {
    position: absolute;
    right: 18px;
    top: 18px;
    color: #fff;
}